<html>
  <head>
    <script type="text/javascript" src="hotkeys.js"> </script>
    <script>
      onload = function(e) {
        var key = new KeyObject("Ctrl+Alt+B");
      }
      onkeydown = onkeyup = function (e) {
        var key = new KeyObject (e);
        e.preventDefault();
        document.body.innerHTML = key.string();
      }
      
      
      var shiftKeys = "~!@#$%^&*()_+QWERTYUIOP{}|ASDFGHJKL:\"ZXCVBNM<>?";
      var unshiftKeys="`1234567890-=qwertyuiop[]\\asdfghjkl;'zxcvbnm,./";
      var specialKeys= {"Tab"        :9,
                        "F1"         :112,
                        "F2"         :113,
                        "F3"         :114,
                        "F4"         :115,
                        "F5"         :116,
                        "F6"         :117,
                        "F7"         :118,
                        "F8"         :119,
                        "F9"         :120,
                        "F10"        :121,
                        "F11"        :122,
                        "F12"        :123,
                        "Enter"      :13,
                        "Esc"        :27,
                        "PrintScreen":42,
                        "ScreenLock" :145,
                        "Pause"      :19,
                        "Insert"     :45,
                        "Delete"     :46,
                        "Home"       :36,
                        "End"        :35,
                        "PageUp"     :33,
                        "PageDown"   :34};
      /*var wierdKeys =  {"`":192,
                        "-":
                        "=":*/
    </script>
  </head>
  <body>
  </body>
</html>
