<html>
  <head>
    <style type="text/css">
      body {
        background: #DDD;
      }
      div.title {
        font-family:arial;
      }
      a.item {
        width: 90%;
        margin: 5px;
        background: #DDD;
        padding: 2px;
        border: 1px solid #CCC;
        border-top: 0px;
        text-decoration: none;
        color: #000;
        float: left;
      }
      a.item:hover {
        background: #EEA;
      }
    </style>
  </head>
<div class = "title">
<h1> Hi {{current_user.username}} </h1>
{% if user_spreadsheet_list %}
  <br />
    {% for s in user_spreadsheet_list %}
        <a class="item" href="/spreadsheet?{{current_user.username}}&{{s.pk}}">{{s.file_name}}owner = {{s.owner}} </a> <br/>
    {% endfor %}
{% endif %}

<br />

<input type=button onClick="location.href='/spreadsheet'" value="Spreadsheet"></br ></br>
<input type=button onClick="location.href='/accounts/logout'" value="Logout">

</html>
