{% extends "base.html" %}
{% load url from future %}


  {% block css %}
    <link href='http://fonts.googleapis.com/css?family=Mate+SC' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}accounts/c/user_profile.css" />
  {% endblock css %}

  {% block javascript %}
    <script type="text/javascript" src="{{STATIC_URL}}jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}sendpost.js"></script>
    <script>
      /****************************** RENAME AND DELETE *****************************\
      | The rename and delete functions are shorter versions of the calls to sendpost|
      \******************************************************************************/
      function renameFile(variableMap){
        sendpost('/spreadsheet/rename', variableMap, function () { location.reload(true); });
      }
      function deleteFile(variableMap) {
        sendpost('/spreadsheet/delete', variableMap, function () { location.reload(true); });
      }

      onresize = onload = function () {
        /* NON ANIMATED */
        document.getElementById("filelist").style.height = "";
        var menuWidth = document.getElementById("sideMenu").offsetWidth;
        var windowWidth = window.innerWidth;
        document.getElementById("filelist").style.width = windowWidth - menuWidth -40 + "px";
        var fileListOffsetTop = document.getElementById("filelist").offsetTop+1;
        var menuOffsetTop = document.getElementById("sideMenu").offsetTop;
        var pageHeight = window.innerHeight;

        // TODO ONLY SET THIS VALUE IF THE HEIGHT IS ABOVE THIS VALUE ALREADY
        var maxheight = pageHeight-fileListOffsetTop;
        if (maxheight < document.getElementById("filelist").offsetHeight) {
          document.getElementById("filelist").style.height=maxheight + "px";
          document.getElementById("filelist").style.borderBottom = "0px solid black";
          document.getElementById("filelist").style.borderRadius = "10px 0px 0px 0px";
        }
        //document.getElementById("sideMenu").style.height=pageHeight-menuOffsetTop - 25;
        /* Animated */
        document.getElementById("body").style.backgroundImage="url('{{STATIC_URL}}accounts/backdrop.jpg')";
      }
      /***************************** GO TO NEW DOCUMENT *****************************\
      | This function sends an ajax request to the serer to create a new document of |
      | the given type. After the server gives back a url to the newly created       |
      | document it sends the user to the url given                                  |
      \******************************************************************************/
      function newDocument(url) {
        //alert("Creating a new document at " + url);
        var serverURL = url;

        var postData = "OHMYWHATSHOULDTHISBE,MAYBEJUSTAGETMESSAGEINSTEADOFAPOST!"

        $.ajax({
          type: "POST",
          url: serverURL,
          data: postData,
          dataType: "html",
          success: function(url) {
            jsonObject = JSON.parse(url)
            alert("Redirecting to \n" + jsonObject["url"]);
            window.location.href= jsonObject["url"];
          },
          error: function(jqXHR, textStatus, errorThrown){alert("error: "+jqXHR+":"+textStatus+":"+errorThrown)}
        });
      }
      var count = 0;
      onmousemove = function(event) {
        count++;
        if(count > 10) {
          count = 0;
          //body.style.backgroundImage="url('{{STATIC_URL}}accounts/backdrop.jpg')|none|inherit";
          var xOffset = ((window.innerWidth/2-event.pageX)/20);
          var yOffset = ((window.innerHeight/2-event.pageY)/20);
          document.getElementById("body").style.backgroundPosition=xOffset+"px "+yOffset+"px";
          document.getElementById("welcomebar").style.boxShadow=xOffset/2+"px "+(20)+"px 10px #111";
          document.getElementById("filelist").style.boxShadow=xOffset/2+"px "+(20)+"px 10px #111";
          document.getElementById("sideMenu").style.boxShadow=xOffset/2+"px "+(20)+"px 10px #111";
          
          
        }
      }

    </script>
  {% endblock javascript %}


  {% block content %}
    <div class="welcomebar" id="welcomebar">
      Hi {{current_user.username}}
    </div>
    <div class="menubar" id="sideMenu" style="clear:both">
      {% for type in types %}
        <div class="createFileButton" onclick="newDocument('{% url type.module %}')">
          New {{type.name}}
        </div>
      {% endfor %}
      <div class="createFileButton" style="margin-bottom: 0px; margin-top: 40px;" onClick="location.href='/logout'">
        Logout
      </div>
    </div>
    <div class="filelist" id="filelist">
    {% if user_document_list %}
      {% for s in user_document_list %}
        <div class="documentItem" >
          <div class="filename" onclick="location.href='{% url s.module s.pk%}'"> {{s.file_name}} </div>

          <div class="filebuttonbox" onClick="renameFile({'fileid':'{{s.pk}}','newname':prompt('New Name:','{{s.file_name}}')})">R</div>
          <div class="filebuttonbox" onClick="deleteFile({'fileid':'{{s.pk}}'})">X</div>
          <div class="centerbox"><div class="filebox">{{s.modified_date}}</div></div>
          <div class="centerbox"><div class="filebox">{{s.owner}}</div></div>
        </div>
      {% endfor %}
    {% endif %}

    <!--
    <div style="clear:both">
      
      View Only:
      {% if user_view_list %}
        <br />
        {% for s in user_view_list %}
          <a class="item" href="{% url s.module s.pk%}">{{s.file_name}} - {{s.owner}} </a><br>
        {% endfor %}
      {% endif %}
    </div>
  -->
  </div>
  {% endblock content %}
