{% extends "base.html" %}

  {% block css %}
    {{block.super}}
    <link href='http://fonts.googleapis.com/css?family=Mate+SC' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}accounts/c/loginstyle.css" />
    <style type="text/css">

      h1 {
        font-family: 'Mate SC', serif;
      }
    </style>
  {% endblock css %}

  {% block javascript %}
    {{block.super}}
    <script>
      onresize =onload = function () {
        var pageHeight = window.innerHeight;
        var divHeight = document.getElementById("title").offsetHeight;
        document.getElementById("title").style.marginTop=(pageHeight-divHeight)/2;
      }
    </script>
  {% endblock javascript %}

  {% block content %}
    <div class="title" id="title">
      <h1>WELCOME</h1>
      <form action = "" method="post">{% csrf_token %}
        {{form.as_p}}
        <input type="hidden" name="next" value="{{ next }}" />
        <input type = "submit" value = "Log In" />
      </form>
    </div>
  {% endblock content %}
