body {
  background: #FFF;
}
div.codeblock {
  background: #FFF;
  border: black 1px solid;
  padding:0px;
  width:100%;
}

pre {
  padding:0px;
  margin:0px;
  font-size: 15px;
}

pre.codeblock {
  width: 100%;
  float:left;
  /*position: absolute;*/
}

div.linecount {
  width: 5px;
  height: 5px;
  background-color: #F00;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  /*white-space: -moz-pre-wrap;  /* Mozilla, since 1999 *
  white-space: -pre-wrap;      /* Opera 4-6 *
  white-space: -o-pre-wrap;    /* Opera 7 *
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
