body {
  padding: 0px;
  margin: 0px;
}

a.menuButton {
  padding: 5px;
  margin: 0px 0px;
  /*border: 1px black solid;*/
  background: #FFF;
  float: left;
  cursor: default;
}
a.menuButton:hover {
  background: #0FF;
}




div.menuButton {
  padding: 5px;
  margin: 0px 10px;
  /*border: 1px black solid;*/
  background: #CCC;
  float: left;
  cursor: default;
  
  /* prevent users from selecting the text in the meny */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}
div.menuButton:hover {
  background: #0FF;
}
