body {
  padding: 0px;
  margin: 0px;
}




div.menuButton {
  padding: 5px;
  margin: 0px 10px;
  /*border: 1px black solid;*/
  background: #CCC;
  float: left;
  cursor: default;
  
  /* prevent users from selecting the text in the meny */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}
div.menuButton:hover {
  background: #0FF;
}

/* General Menu Button stuff */
.menuButton {}
.menuButton .name {
  float:left;
}
.menuButton .image {
  float:left;
}
.menuButton .shortcutKey {
  float:left;
  color:#AAA;
}
/* main menu attributes */
.mainMenu {}
.mainMenu .menuButton .name {}
.mainMenu .menuButton .image {}
.mainMenu .menuButton .shortcutKey {}
/* sub menu attributes */
.subMenu {}
.subMenu .menuButton .name {}
.subMenu .menuButton .image {}
.subMenu .menuButton .shortcutKey{}
