{% extends "base.html" %}
    {% block title %}{{file_name}}{% endblock title %}



      {%block css %}
      {{ block.super }}
      <style type="text/css">
      body
      {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
      }
      div.datain
      {
        float:left;
        position:absolute;
        width: 100px;
        height: 30px;
        left:100px;
        top:100px;
        margin: 0px;
        padding: 0px;
      }
      div.scrollbar
      {
        overflow:scroll;
        width: 100%;
        float: left;
        position:absolute;
      }
      div.scrollsize
      {
      }
      div.cornerbox {
        width: 5px;
        height: 5px;
        position:absolute;
        background-color: green;
        top: 100%;
        left: 100%;
        border: 2px solid white;
        margin-left: -3px;
        margin-top: -3px;
      }
      textarea.inputbox {
        width:200%;
        height:200%;
        border:none;
        resize: none;
        overflow: hidden;
        font-family:sans-serif;
        font-size: 12px;
        font-weight: 500;
      }
      div.scrollVertical {
        background: green;
        float:right;
        overflow: scroll;
      }
      div.scrollHorizontal {
        color: blue;
      }
    </style>
    {% endblock css %}


    {% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}spreadsheet/script/eparse.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}spreadsheet/script/layoutControl.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}spreadsheet/script/saveload.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}spreadsheet/script/draw.js"></script>

    <!-- Function Libraries -->
    <script type="text/javascript" src="{{STATIC_URL}}spreadsheet/script/math.js"></script>
    {% endblock javascript %}

    {%block content%}
      <!-- Menu -->
      <!-- Menu Begin -->
      <div class="TitleMenu" id="TitleMenu"></div>
      <!-- Menu End -->
      <div style="width:101%;">
        <div class='functionIcon' style="float:left; margin-left:5px; padding-right: 5px; margin-right:5px; border-right:1px solid black; height: 25px;">Fx</div>
        <input type="text" id="functionbox" oninput="syncInputBox()" style="height:25px; border:0px solid black; padding:0px; margin-left:0px;float:left" />
      </div>
    </div>






    <!-- new scrollbar stuff (does not work perfectly)
    <div class="scrollVertical" id="scrollVertical"> <div style="height:200%; width: 1px; background: blue"> </div> </div>
    <div class="scrollHorizontal" id="scrollHorizontal"> </div>
    -->

    <!-- Actual canvas Div for the application -->
    <div style="width:100%; overflow:hidden; position: relative;" id="framecontain" class="framecontain">



      <div id="applicationDiv" style="">
        <!-- Input box -->
        <div class="datain" id="datain">
          <div class="cornerbox" id="inputCornerBox"> </div>
          <div style="width: 100%; height: 100%; background-color: #F00; border: none; overflow: hidden;">
            <!--<input type="text" oninput="syncFunctionBar()" style="width:100%; height:100%; border:none;" id="inputbox"/>-->
            <textarea class="inputbox" oninput="syncFunctionBar()" id="inputbox"/> </textarea>
          </div>
        </div>

        <canvas id="application" name="application" style="overflow:hidden">
          Im sorry your browser is too outdated to know what this canvas element is <br >
          you should update to the newest version so you can use this program (and keep your computer secure)
        </canvas>
      </div>

      <!-- Scrollbars -->
      <div class="scrollbar" id="scrollbar" style="position:absolute">
        <div class="scrollsize" id="scrollsize" style="pointer-events:none;">
        </div>
      </div>

    </div>










    <xml id="xmlMenu" style="display: none">
      <XMLMenu>
        <menu name="File" iconsrc="icons/action_forward.gif" version="normal">
          <menuitem name="New"  function="alert('ptbhtbt nope')"  iconsrc="icons/action_save.gif" shortcut="Ctrl+N" version="normal"> </menuItem>
          <menuitem name="Open..."  function="load2()"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+O" version="normal"> </menuItem>
          <break></break>
          <menuitem name="Save"  function="save()"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+S" version="normal"> </menuItem>
          <menuitem name="Save As..."  function="save()"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+Shift+S" version="normal"> </menuItem>
          <menuitem name="Revert"  function="alert('revert')"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+O" version="normal"> </menuItem>
          <menuitem name="AUTO SAVE" function="autosave()" iconsrc="icon/flag_white.gif" shortcut="Ctrl+alt+shift+w+x+a" version="version"> </menuItem>
          <menuitem name="Get Permissions" function="getPermissions()" iconsrc="icon/flag_white.gif" shortcut="Ctrl+g+p" version="version"> </menuItem>
          <menuitem name="Set Permissions" function="sendChangedata(1,false,[],[],[],[])" iconsrc="icon/flag_white.gif" shortcut="Ctrl+g+p" version="version"> </menuItem>
          <break></break>
          <menuitem name="Print Preview"  function="alert('print priview')"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+Shift+P" version="normal"> </menuItem>
          <menuitem name="Print..."  function="alert('print')"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+P" version="normal"> </menuItem>
          <break></break>
          <break></break>
          <menuitem name="Close"  function="alert('close')"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+W" version="normal"> </menuItem>
          <menuitem name="Quit"  function="alert('quit')"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+Q" version="normal"> </menuItem>
        </menu>
        <menu name="Edit" iconsrc="icons/action_forward.gif" version="normal">
          <menuitem name="Undo"  function="alert('undo')"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+Z" version="normal"> </menuItem>
          <menuitem name="Redo"  function="alert('redo')"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+Shift+Z" version="normal"> </menuItem>
          <break></break>
          <menuitem name="Cut"  function="alert('Cut')"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+X" version="normal"> </menuItem>
          <menuitem name="Copy"  function="alert('copy')"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+C" version="normal"> </menuItem>
          <menuitem name="Paste"  function="alert('paste')"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+V" version="normal"> </menuItem>
          <menuitem name="Delete"  function="alert('delete')"  iconsrc="icons/flag_white.gif" shortcut="" version="normal"> </menuItem>
          <break></break>
          <menuitem name="Select All"  function="alert('select all')"  iconsrc="icons/flag_white.gif" shortcut="Ctrl+A" version="normal"> </menuItem>
          <break></break>
          <menuitem name="Insert Date and Time"  function="alert('insert date and time')"  iconsrc="icons/flag_white.gif" shortcut="" version="normal"> </menuItem>
          <break></break>
          <menuitem name="Preferences"  function="alert('preferences')"  iconsrc="icons/flag_white.gif" shortcut="" version="normal"> </menuItem>
        </menu>
      </XMLMenu>
    </xml>
  {%endblock content%}
