<html>
    <head>
        <title>{%block title%}Briefcase{%endblock%}</title>
        {% block css %}

        {% endblock css %}

        {% block javascript %}

        {% endblock javascript %}
    </head>

    <body>
        <div id="header">
            {% block header %}

            {% endblock%}
        </div>

        <div id="content">
            {% block content %}

            {% endblock%}
        </div>

        <div id="footer">
            {% block footer %}

            {% endblock%}
        </div>
    </body>
</html>
