/* demo stylesheet, makes a full page .input */

* {
	margin: 0;
	padding: 0;
}

.frame {
    background: #eaf8fc;
    background-image: -moz-linear-gradient(#fff, #d4e8ec);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d4e8ec),color-stop(1, #fff));

    -moz-border-radius: 35px;
    border-radius: 35px;

    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 100%;
    height: 100%;
    overflow: hidden; /* Clear floats */
}

.linenum {
	width: 2%;
	height: 100%;
    margin: 0;
    top: 0;
    left 0;
    border-style: none;
    scroll-x: hidden;
}

.codearea {
	width: 98%;
	height: 100%;
    margin: 0;
    top: 0;
    right: 0;
    border-style: none;
}

html, body{
	width: 100%;
	height: 100%;
}

body {
	padding: .5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* pretty textarea */
.input {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
