<html>
  <head>
    <style type="text/css">
      body {
        background: #DDD;
      }
      div.title {
        text-align: center;
        border-radius: 40px;
        font-family:arial;
        border: 10px solid #AAA;
        background-color:#EEE;
        position: absolute;
        top:50%;
        left: 50%;
        margin: -210px;
        padding: 10px; 
        width: 400px;
        height: 400px;
      }
    </style>
  </head>
<div class="title">
<h1>WELCOME</h1>
Sign in:
<form action = "" method="post">{% csrf_token %}
{{form.as_p}}
<input type = "submit" value = "Log In" />
</form>

or
<input type=button onClick="location.href='accounts/register'" value="Register">
</div>
