<html>
  <head>
    <script type="text/javascript" src="../../jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="menuconverter.js"></script>
    <style type="text/css">
      textarea{
        width: 600px;
        height: 400px;
      }
    </style>
  </head>
  <body>
    This is the menu converter
    <br />
    <textarea id="originalmenu"></textarea>
    From <select id="originalmenutype">
      <option value="XML">XML</option>
      <option value="JSON">JSON</option>
    </select>
    <br/>
    <textarea></textarea>
    To <select>
      <option value="XML">XML</option>
      <option value="JSON">JSON</option>
    </select>
    <br />
    <input type="button" onclick="convertMenu()" value="Convert"/>
  </body>
</html>
<!-- that is better then -->